<h1>Your Text Analysis</h1>

<h2>Number of Words:<%=@num_words%></h2>

<h2>Vowels:<%=@num_vowels%> </h2>

<h2>Consonants:<%=@num_consonants%> </h2>

<h2>Most Common Letter: <%=@most_used_letter%>, used <%=@used_times%> times</h2>
